<style>
header {}
     
figure {float: left;
margin-left: 20px;
margin-right: 20px;
}

#aboutme {color:rgb(166, 180, 173);
            background-color:rgb(7, 7, 7);
    }

em.emphasis {color:rgb(133, 158, 144);}

/* CSS Grid here */

.container_2 {
    grid-row: auto;
    grid-column: auto;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(50, 50, 50);
}

.container_1 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 300px auto;
    grid-template-areas: 
    "c t"
    "c t";
}

.column {grid-area: c;
    background-color: rgb(50, 50, 50);

}

.text {grid-area: t;

}

article {padding-top: 20px;
        padding-bottom: 25px;
        padding-right: 15px;
        padding-left: 5px;
        padding-top: 40px;
        margin-right: 100px;
        margin-left: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: left;
        border-radius: 30px;
        background-size: 50%;
        background-image: url("https://farm8.staticflickr.com/7834/46308379615_0a77f04b3b_z.jpg");
        }

body {font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    background-color:rgb(37, 36, 36);
    color: antiquewhite}

h1 {color:rgb(67, 94, 78);
    font-variant:small-caps;
    font-weight:400;
    margin-bottom:-12px;
    margin-left: 0px;
    margin-right: 1000px;
    padding-right:30px;
    padding-left:15px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 10px;
    text-shadow: 1px 1px black}

h2 {color: rgb(67, 94, 78);
    font-weight: 525;
    text-shadow: 1.5px 1.5px rgb(5, 5, 5);
    font-variant:small-caps;
    padding-bottom: 0px;
    margin-bottom:0px}

strong {font-weight:bold;
        text-shadow: 1px 1px black;}

ul {list-style-type:circle; 
}

footer{background-color:antiquewhite;
        text-align:center;
        font-variant:small-caps;
        font-size:larger;
        text-shadow: 3px 3px black;
        padding-top: 10px;
        padding-bottom:10px;
        padding-right:5px;
        padding-left:5px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 25px;
        margin-bottom: 25px;
        border-style:groove;
        border-width:thin;
        background-image:url("https://farm8.staticflickr.com/7834/46308379615_0a77f04b3b_z.jpg")}

button {background-color: rgb(69, 126, 94);
        font-family:Georgia, 'Times New Roman', Times, serif;
        color: antiquewhite;
        font-variant:small-caps;
        text-shadow: 1px 1px black;
        padding-bottom: 5px;
        padding-top: 3px;
        padding-left:3px;
        padding-right:3px;
        font-size:16px;
        text-decoration:none;
        border:antiquewhite;
        border-style: dotted;
        border-width: thin;
        border-radius: 15%;
        cursor:pointer;
        }

</style>